<!-- creating a text Area for the user to type in a burger Name -->
<h2> Burger Name </h2>
<form id = 'createaburger' class = 'button-size'></form>
    <textarea type='text' name='burgername' ></textarea>
    <button type="submit">Create a Burger</button>
</form>

<script type="text/javascript">
$('#createaburger').on('submit', function(){
    event.preventDefault();
    var newBuger = {
      name: $("#createaburger [name=burgername]").val().trim();
    }
    $.post('/burger', newBuger).done(function(data){
        console.log(data);
        alert('Adding burger');
    });
});
</script>
