<!-- creating a text Area for the user to type in a burger Name -->
<h2> Burger Name </h2>
<form id = 'addaburger' class = 'button-size'></form>
    <textarea type='text' name='burger' ></textarea>
    <button type="submit">Add a Burger</button>
</form>

<script type="text/javascript">
$('#addaburger').on('submit', function(){
    event.preventDefault();
    var newBuger = {
      name: $("#addaburger [name=burger]").val().trim();
    };
});
</script>
